<a href="/products" class="back-btn">Volver</a>

<div class="box-rol">
    <h2>Cambio de rol y permisos</h2>
    <a href="/api/user/premium/{{userId}}" id="btn-change">Cambiar Rol de Premium/Usuario</a>
 </div>
