<h2>CHAT!</h2>
<hr />
<input type="text" id="mensaje" placeholder="Escriba aquí" />
<div id="container-mensajes"></div>
<br /><br />
<a href="/">Home</a>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/chat.js"></script>