{{>menu}}

{{#if token}}

<div class="box-password-reset">
    <h1>Establecer nueva contrase単a</h1>
    <form action="" class="form-new-pass">
        <input type="hidden" name="token" id="token" value="{{token}}">
        <input type="hidden" name="email" id="email" value="{{email}}">
        <input type="password" name="password" id="password" placeholder="Ingrese nueva contrase単a" />
        <input type="password" name="password2" id="password2" placeholder="Repita nueva contrase単a" />
        <input type="submit" class="btn-email-password" id="btn-email-password" value="Cambiar contrase単a">
    </form>
{{else}} 

    <h2>Accion denegada</h2>
{{/if}}

<script src="/js/checkPassword.js"></script>