{{>menu}}

<div class="box-password-reset">
    <h2>Recuperar contraseña</h2>
    <form action="" class="form-password-reset">

        <input type="email" name="email" id="email" placeholder="Ingrese email" />

        <input type="submit" class="btn-email-password" id="btn-email-password" value="Enviar mail de recuperación">
    </form>
</div>

<script src="/js/resetPassword.js"></script>